# Database Tier Configuration [PaaS Managed MySQL]
DB_HOST=localhost
DB_PORT=3306
DB_USER=ecommerce_user
DB_PASSWORD=ecommerce_pass
DB_NAME=ecommerce_db

# Application Tier Configuration [IaaS VM REST API]
PORT=5000
NODE_ENV=development
JWT_SECRET=supersecret_jwt_key_for_cloud_mapping_project_2026

# Presentation Tier Configuration [PaaS Frontend]
VITE_API_URL=http://localhost:5000/api

# Cloud Storage Bucket Configuration [S3 / GCS Object Storage]
CLOUD_STORAGE_BUCKET=ecommerce-product-assets-2026
CLOUD_STORAGE_REGION=us-east-1
